<% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder",
            user: current_user).html_safe %>
    </script>
<% end %>

<script type="text/javascript">
    window.firstElement = "<%= image_url("11ebd3cd1712fe17b647d846559d7559.svg") %>"
    window.secondElement = "<%= image_url("d70fa33128cb72c4092abac7a0d25ed2.svg") %>"
    window.thirdElement = "<%= image_url("7df86467c3079db32f8a48aeadc450ca.svg") %>"
    window.fourthElement = "<%= image_url("6623b6310d590ec9be669189f4aa813a.svg") %>"
    window.fifthElement = "<%= image_url("4bdac631250f5f9e8a4b928d5efa22c8.svg") %>"
    window.sixthElement = "<%= image_url("94acf432b564660994742251c2a5f222.svg") %>"
    window.seventhElement = "<%= image_url("1d9b04db64569bf18409a59a32ffd256.svg") %>"
    window.eigthElement = "<%= image_url("beb557bf6fce2373c59accc0931c9567.svg") %>"
    window.ninthElement = "<%= image_url("690c2345bcaaaa50b71548231a26b696.svg") %>"
    window.eleventhElement = "<%= image_url("092d86847152cc1297e50ac02e28baf5.svg") %>"
    window.twelthElement = "<%= image_url("690c2345bcaaaa50b71548231a26b696.svg") %>"
    window.thirteenthElement = "<%= image_url("5fadc604cb12da892e196e6dbf20e2a6.svg") %>"
    window.fourteenthElement = "<%= image_url("7ed9683436331d4a3434ca9fa64b5859.svg") %>"
    window.fifteenthElement = "<%= image_url("f8c67d821e5f44619258319a4ecdf84d.svg") %>"
    window.sixteenthElement = "<%= image_url("6e95d39708991a81004b77a5282160c6.svg") %>"
    window.seventeenthElement = "<%= image_url("5cc3db60569965c8bd92a05f6cb09b8d.svg") %>"
    window.eighteenthElement = "<%= image_url("31fde13d3508b8ddb01cf817ad09c690.svg") %>"
    window.nineteenthElement = "<%= image_url("a6f749bbe52f6e75c8735c5075bfc4a4.svg") %>"
    window.twentiethElement = "<%= image_url("fb628c7d1e7b604e841e10e289148659.svg") %>"
    window.twentyfirstElement = "<%= image_url("9c0629769616f9629689a0e68a2e57b7.svg") %>"
    window.twentysecondElement = "<%= image_url("edaebb01cd24df779f6feae9a34bd7d8.svg") %>"
    window.twentythirdElement = "<%= image_url("e92fcc9ab6e63c1a17e954af347a1f1d.svg") %>"
    window.twentyfourthElement = "<%= image_url("7b01f72a2054561145b6dd04add417c0.svg") %>"
</script>

<main id="root">Rails backend test message</main>