<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="FindYourSquad" />
    <meta property="og:image" content="<%= image_url('splash-page.png') %>" />
    <meta property="og:description"
        content="A collobaration hub designed to personalize communication and collobation across every community. Through endless conversation and authentic human connections, buzzhive provides access to the right people, information, and tools for every activity from discussing interests to acheiving ambitions." />
    <meta property="og:url" content="https://buzzhive.herokuapp.com/#/" />

    <title>buzzhive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%# <meta name='google-signin-client_id' content='935996150117-o9cpoptn4c0eldlhb06fn59fgficq55q.apps.googleusercontent.com'>
    <script src="https://apis.google.com/js/platform.js" async defer></script> %>
    <script src="https://kit.fontawesome.com/2db5da82c7.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
